/* ROOT */

/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APP */

.App{
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
}

/* HEADER */

.header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.headerName{
  width: fit-content;
}

.links{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-left: -20rem;
}

/* SIGNIN/SIGNUP BUTTON */

.userEntry{
  display: flex;
  gap: 2rem;
}

.signIn, .signUp{
  border: none;
  background-color: transparent;
  font-size: large;
  width: 100px;
  height: 40px;
}

.signUp{
  background-color: darkgoldenrod;
}

/* BODY */

.body{
  width: 65%;
  margin-bottom: 10rem;
}

.headline{
  padding-bottom: 3rem;
  font-size: 5rem;
}

.introText{
  padding-bottom: 3rem;
}

.buy, .rent{
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border: 0.5px solid black;
}

.propertyForm{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: fit-content;
  height: 3rem;
  margin-bottom: 5rem;
}

input{
  border: none;
  padding: 10px;
}

.searchbtn{
  width: 7rem;
  height: 100%;
  background-color: darkgoldenrod;
  border: 0.5px solid black;
  font-size: large;
  color: white;
}

/* ACHIEVEMENTS */

.achievements{
  display: flex;
  gap: 5rem;
}

h3{
  font-size: 30px;
  color: darkgoldenrod;
}

/* PROPERTIES */

img{
  min-width: 320px;
  height: 213px;
  border-radius: 10px;
}

.productDescription{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.property{
  display: flex;
  gap: 2rem;
}

.productChoices{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
}

.btnContainer{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: end;
}

.enquire{
  width: 120px;
  height: 50px;
  border-radius: 10px;
  font-size: medium;
  background-color: darkgoldenrod;
  color: white;
  box-shadow: 4px 2px 5px black;
}

.locationFilter{
  width: 608px;
  overflow: hidden;
}

.furtherFilters{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 3rem;
  gap: 1.5rem;
  border: 1px solid black;
}

.minPrice, .maxPrice{
  text-align: center;
}

select{
  width: 8rem;
  padding: 10px;
  border: none;
}

.propertiesInnerContainer{
  margin-bottom: 5rem;
}





